td {
    border: 1px solid gray;
    height: 150px;
    width: 300px;
    padding: 5px;
}
tr{
    width: 100%;
    margin: 10px;
}
table{
    border-collapse: separate;
    border-spacing: 30px 10px;
    margin: auto;
}
#lineOne
{
    text-align: center;
}
#first{
    vertical-align: bottom;
}
#third{
    vertical-align: top;
}
#fourth::first-letter{
    color: red;
}
#fifth{
    text-align: right;
}
